@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="container bg-light p-3">
        <div class="row">
            <span class="text-center text-dark fs-2 mt-1 mb-3">Main categories</span>
            @foreach (var mainCat in Model.Categories)
            {
                <div class="col-md-3 col-sm-6 p-2 d-flex justify-content-center">
                    <div>
                        <img class="" style="max-height:150px;max-width:150px;min-height:150px;min-width:150px" src="@mainCat.ImgUrl" alt="@mainCat.Name" />
                        <div class="dropdown mt-2 text-center">
                            <button style="white-space: normal !important; word-wrap: break-word;max-width:135px" class="btn text-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                @mainCat.Name
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                @foreach (var subCat in mainCat.SubCategories)
                                {
                                    <li><a class="dropdown-item" asp-controller="Advert" asp-action="All" asp-route-categoryId="@subCat.Id">@subCat.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="mt-4 mb-5 container bg-light">
        <div class="row justify-content-center flex">
            <span class="text-center text-dark fs-2 mt-1 mb-3">Newest adverts</span>

            <partial name="_AdvertCardPartialView" model="Model.NewestAdverts" />
        </div>
    </div>
</div>
