@model AdvertDetailViewModel
@inject IUserService userService

@{
    ViewData["Title"] = "Detail";
}

@if (userService.IsUserAdmin() || userService.GetCurrentUserId() == userService.GetUserIdByAdvertId(Model.Id))
{
    <div class="row mt-4">
        <div class="offset-md-5 col-md-1">
            <a class="text-white text-decoration-none btn btn-link btn-danger" asp-controller="Advert" asp-action="Delete" asp-route-advertId="@Model.Id">Delete</a>
        </div>
        <div class="col-md-1">
            <a class="text-white text-decoration-none btn btn-link btn-info" asp-controller="Advert" asp-action="Edit" asp-route-advertId="@Model.Id">Edit</a>
        </div>
        @if (userService.GetCurrentUserId() == userService.GetUserIdByAdvertId(Model.Id))
        {
            <div class="col-md-1">
                <a class="text-white text-decoration-none btn btn-link btn-warning" asp-controller="Archive" asp-action="AddInArchive" asp-route-advertId="@Model.Id">Archive</a>
            </div>
        }
    </div>
}
<div class="container">
    <div class="row mt-4">
        <div class="offset-md-2 col-md-8 border border-primary rounded p-0">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    @foreach (var image in Model.Images)
                    {
                        <div class="carousel-item @(Model.Images.FirstOrDefault() == image ? "active":" ")">
                            <img src="@image" class="d-block w-100" alt="...">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="bg-light offset-md-2 col-md-8 p-2 border border-primary rounded">
            <div class="small text-muted mb-2">
                <span>Added on @Model.CreatedOn.ToString("MM/dd/yyyy")</span>
            </div>
            <div class="mb-3">
                <h3>@Model.Name</h3>
            </div>
            <div class="mb-3 mt-3 text-dark fw-bold" style="font-size:20px">
                <span>@Model.Price $</span>
            </div>
            <div class="mb-2 mt-3">
                <h4>Description</h4>
                <p class="lead text-break">@Model.Description</p>
            </div>
            <div class="border-top border-dark">
                <a class="btn btn-link link-info float-start text-decoration-none"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Observe</a>
                <a class="btn btn-link link-danger float-end text-decoration-none" asp-controller="Report" asp-action="AdvertReport" asp-route-advertId="@Model.Id" asp-route-advertName="@Model.Name">Report</a>
                <partial name="_ModalReceiveEmailOnUpdatePartial.cshtml" model="@Model.Id"/>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="bg-light offset-md-2 col-md-8 p-2 border border-primary rounded">
            <h4>User</h4>
            <div class="row">
                <div class="col-md-1">
                    <img src="@Model.User.UserProfilePictureURL" alt="Profile Picture" class="img-responsive" style="max-height: 50px; max-width: 50px;">
                </div>
                <div class="col-md-4">
                    <p class="mb-0 text-dark fw-bold text-break">@Model.User.Firstname @Model.User.Lastname</p>
                    <p class="m-0 text-dark text-muted text-break">User since  @Model.User.UserSince.ToString("MM/dd/yyyy") </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-0">
                    <a class="btn btn-link link-primary text-decoration-none" asp-controller="Advert" asp-action="UserAdverts" asp-route-username="@Model.User.Username">See all adverts from this user</a>
                </div>
                <div class="col-md-3 p-0">
                    <a class="btn btn-link link-primary text-decoration-none" asp-controller="Messege" asp-action="Send" asp-route-advertId="@Model.Id">Send message</a>
                </div>
            </div>
        </div>
    </div>
</div>

